<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>readKey</key>
	<string>a8615276426441461781-8c2d6128211e867d999718af834eb422e78f56e65e9c5a400cdd9c4ef77aaf2a</string>
</dict>
</plist>
